@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

#title-header-main-box{
    background:#343434;
    width:100%;
    height:6vw;
    top: 0px;
    left: 0px;

    color: white;
    position:relative;
    align-content: center;
}

li {
    margin: 8.5vw;
    text-align: center;
    list-style:none;
    display:inline;
}

li:last-child{
    margin-bottom: 0;
}

li a {
    color: white;
    display: inline-block;
    font-size: 30px;
    margin:0.5vw;
    font-family: 'JetBrains Mono', serif;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: inherit;
    top: 1.5vw;

    left: 3%;
}

.button-underline {
    position: relative;
    color: #ffffff;
    text-decoration:none;
}
.button-underline:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #ffffff;
    content: "";
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}
.button-underline:before {
    display: block;
    position: absolute;
    right: 0;
    top: -5px;
    width: 0;
    height: 3px;
    background-color: #ffffff;
    content: "";
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}
.button-underline:hover:after,.button-underline:hover:before {
    width: 120%;
}

#about-button{
    font-size: 1.2vw;
}

#project-button{
    font-size: 1.2vw;
}

#contact-button{
    font-size: 1.2vw;
}

#github-button{
    font-size: 1.2vw;
}


#main-content{
    width:100%;
    padding-top: 5%;
    background: #252525;

    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    background: linear-gradient(to left top, #da962e, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    min-height: 100vw;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.wrapper{
    max-width: 100%;
    padding-inline: 1rem;
    text-align: center;
    align-content: center;

    font-family: 'JetBrains Mono', serif;

}

.gradient-text{
    background-image: linear-gradient(
            -45deg,
            #ff4793,
            #eb3aff,
            #fff05a,
            #0cffc0,
            #25fff8
    );

    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
}

#name-intro{
    font-size: 3.5vw;
    padding-top: -2vw;
}
.section-title {
    font-size: 2.25vw;
}

.section-description{
    font-size: 1.5vw;
    width: 45%;
    padding-left: 27%;
}


.diagonal {
    --skew-angle: -10deg;
    --background: linear-gradient(
            45deg,
            #12c2e9,
            #c471ed,
            #f64f59
    );

    position: relative;
    isolation: isolate;
    height: 12vw;
    top: 5vw;
    color: white;
}

.diagonal::after {
    content: '';
    background: var(--background);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
}

.diagonal-right {
    --skew-angle: 10deg;
    --background: linear-gradient(
            90deg,
            #e96412,
            #d7d13e,
            #ff0013
    );

    position: relative;
    isolation: isolate;
    height: 12vw;
    top: 5vw;
    color: white;
}

.diagonal-right::after {
    content: '';
    background: var(--background);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
}



.info-card-border{
    width: 15.5vw;
    height: 25vw;

    margin: 2vw 2%;
    position: relative;
    background: linear-gradient( 45deg,  #12c2e9,  #c471ed,  #f64f59 );
    display: inline-flex;

    box-shadow: 0.5vw 0.5vw #171717;
}


.info-card {
    width: 15vw;
    height: 24.5vw;
    overflow-y: hidden;
    overflow-x: auto;
    top: 0.3vw;

    position: relative;
    background: #202020;
    justify-content: center;
    display: grid;

    left: 0.23vw;
}

.info-card-title-gradient{

    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 2vw;
}

.info-card-title{
    color: white;
    font-size: 1.2vw;
    padding: 0.8vw;
}

.info-card-description{
    color: white;
    font-size: 0.9vw;
    padding: 0.5vw;
}

.cards{
    width: 100%;
    text-align: center;
    font-family: 'JetBrains Mono', serif;

    padding-top: 10vw;
}

#csharp-info{
    background-image: linear-gradient(
            -45deg,
            #ff4763,
            #fff05a
    );

}

#python-info{
    background-image: linear-gradient(
            -90deg,
            #62ff2d,
            #fff05a
    );
}

#cpp-info{
    background-image: linear-gradient(
            -90deg,
            #00b1ff,
            #ececec
    );
}

#java-info{
    background-image: linear-gradient(
            -90deg,
            #ffea00,
            #FF9200FF
    );
}

#r-info{
    background-image: linear-gradient(
            -90deg,
            #a5a0a0,
            #3590c1
    );
}

#mic-info{
    background-image: linear-gradient(
            -90deg,
            #f8b331,
            #26ffab
    );
}

footer{
    bottom: 10vw;
    font-family: 'JetBrains Mono', serif;
    color: white;
    font-size: 0.2vw;
}