@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    padding:0px;
    margin:0px;
    background: rgb(60, 69, 105);
    width:100vw;
    height:100vh;
    overflow:hidden;
    font-family: 'Josefin Sans', sans-serif;
}

#top {
    width:100vw;
    height:30vh;
    display:flex;
    flex-direction:column;
    position:fixed;
    top:0;
    text-align:center;
    z-index:1;
    color:#fff;
    padding-bottom:5vh;
}

#top h1 {
    color: rgb(255, 151, 31);
}

.gallery-center{
    margin:auto;
}

#gallery {
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:10px;
    column-count:5;
    column-gap:10px;
    padding-top: 300px;
    margin: auto;
}
#gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
}

@media (max-width: 1200px) {
    #gallery {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}


