#title-header-main-box{
    background:#343434;
    width:100%;
    height:6vw;
    top: 0px;
    left: 0px;

    color: white;
    position:relative;
    align-content: center;
}

li {
    margin: 8.5vw;
    text-align: center;
    list-style:none;
    display:inline;
}

li:last-child{
    margin-bottom: 0;
}

li a {
    color: white;
    display: inline-block;
    font-size: 30px;
    margin:0.5vw;
        font-family: 'JetBrains Mono', serif;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: inherit;
    top: 1.5vw;

    left: 3%;
}

.button-underline {
    position: relative;
    color: #ffffff;
    text-decoration:none;
}
.button-underline:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #ffffff;
    content: "";
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}
.button-underline:before {
    display: block;
    position: absolute;
    right: 0;
    top: -5px;
    width: 0;
    height: 3px;
    background-color: #ffffff;
    content: "";
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}
.button-underline:hover:after,.button-underline:hover:before {
    width: 120%;
}

#about-button{
    font-size: 1.2vw;
}

#project-button{
    font-size: 1.2vw;
}

#blog-button{
    font-size: 1.2vw;
}

#contact-button{
    font-size: 1.2vw;
}

body{
    background: linear-gradient(to left top, #da962e, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    min-height: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.project-card{
    position: relative;

    text-align: left;
    margin-inline: auto;
    padding-inline: 1vw;

    margin: 0.5vw 0;

    width:98%;
    height: 20vw;

    border-radius: 25px;
    background: #434343;

    font-family: 'JetBrains Mono', serif;
}

.project-card-title{
    padding-top: 0;
    color: white;
    top: 2vw;
    font-size: 0.8vw;
    display: inline-flex;

}

.technologies-used{
    color:white;
}

.project-card-date{
    color: white;
    margin: 0.1vw 0;
    font-size: 1vw;

}

.project-card-description{
    color: white;
    width: 50%;
    font-size: 0.8vw;
}
